* {
    box-sizing: border-box;
  }

#grids-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 4rem;
}
#tiles-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(16, 32px);
    grid-template-rows: repeat(10, 32px);
    width: fit-content;
    height: fit-content;
}

.inventory-container{
    width: 100%;
    border: 2px solid pink;
    display: flex;
    flex-direction: column;
}
h2{
    font-family: 'Roboto';
    text-align: center;
    margin: 1rem;
}
#inventory{
    display: flex;
    justify-content: space-evenly;
    border: solid #3d7edf;
}

#inv-grid, #tools-grid{
    display: grid;
    grid-template-columns: repeat(3, 32px);
    grid-template-rows: repeat(2, 32px);
    border: 2px solid black
}

.tile{
    width: 32px;
    height: 32px;
}

.sky-tile{
    background-color: #00FFF5;
}
.dirt-tile{
    background-color: #393E46;
}
.dark-tile{
    background-color: #222831;
}
.tile-border{
    border: 1px solid #000;
}