* {
    box-sizing: border-box;
  }
  body{
    /* background: url('/images/wallpaperflare.com_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: azure;
  }


#grids-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 4rem;
    border: solid rgb(0, 0, 0);

}
#tiles-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(16, 64px);
    grid-template-rows: repeat(9, 64px);
    width: fit-content;
    height: fit-content;
}

.inventory-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #222831;
}
h2{
    font-family: 'Roboto';
    text-align: center;
    margin: 1rem;
    color: white;
    font-size: large;
    background-color: #222831;
}
#inventory{
    display: flex;
    justify-content: space-evenly;
}

#elements-grid, #tools-grid{
    display: grid;
    grid-template-columns: repeat(3, 64px);
    grid-template-rows: repeat(2, 64px);
    margin-bottom: 3rem;
}

.tile{
    width: 64px;
    height: 64px;
}

.sky-tile{
    background-color: #89c4e0;
}
.grey-tile{
    background-color: #393E46;
}
.dark-tile{
    background-color: #222831;
}
.tile-border{
    border: 1px solid #000;
}

.grass-tile{
    background: url('/images/Grass_Block.webp') no-repeat center center/cover;
}
.dirt-tile{
    background: url('/images/Dirt.webp') no-repeat center center/cover;
}

/* Inventory &collection & Tools */
.apple-img{
    background: url('/images/Apple.webp') no-repeat center center/cover;
    background-color: rgba(0, 0, 0, 0.391);
}
.axe-img{
    background: url('/images/Iron_Axe.webp') no-repeat center center/cover;
    background-color: rgba(0, 0, 0, 0.391);
}
.pickAxe-img{
    background: url('/images/Iron_Pickaxe.webp') no-repeat center center/cover;
    background-color: rgba(0, 0, 0, 0.391);
}
.shovel-img{
    background: url('/images/Iron_Shovel.webp') no-repeat center center/cover;
    background-color: rgba(0, 0, 0, 0.391);
}
.moss-img{
    background: url('/images/Moss_Block.webp') no-repeat center center/cover;
}
.trunk-img{
    background: url('/images/Spruce_Log.webp') no-repeat center center/cover;
}
.log-img{
    background: url('/images/Spruce_Log_2.webp') no-repeat center center/cover;
}
.stone-img{
    background: url('/images/Cobblestone.webp') no-repeat center center/cover;
}





.scale:hover{
    transform: scale(1.5);
    cursor: pointer;
}


