

#tiles-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(12, 32px);
    grid-template-rows: repeat(12, 32px);
    width: 100%;
    height: fit-content;
}

.tile {
    background-color: #333;
    width: 32px;
    height: 32px;
}



@media (min-width: 800px) {

    #tiles-container{
        grid-template-columns: repeat(12, minmax(64px, 0));
        grid-template-rows: repeat(12, 64px);
        grid-column-gap: 0;
        grid-row-gap: 0;
        width: 100%;
    }
    .tile {
        width: 64px;
        height: 64px;
    }
}